.container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 15px;
  height: 197px;
  
  @media (max-width: 800px) {
    width: 95%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 25px;
    padding-bottom: 30px;
    flex-direction: column;
    text-align: center;
  }
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover .user-avatar img {
    filter: blur(2px);
  }

  @media (max-width: 800px) {
    padding-top: 70px;
  }
}

.user-avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 25px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease, opacity 0.2s ease;
  }

  @media (max-width: 800px) {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 0px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.edit-overlay {
  position: absolute;
  bottom: 30px;
  right: 8px;
  transform: translate(30%, 30%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  @media (max-width: 800px) {
    bottom: 10px;
    right: -68px;
  }
}

.user-info {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  @media (max-width: 800px) {
    .user-header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.fullName {
  font-size: 25px;
}

.userName {
  font-size: 17px;
}

.pss {
  margin-top: 10px;
}

.btn-user-edit {
  align-self: center;
  color: #fff;

  &:hover {
    background-color: rgb(44, 47, 47);
  }
  
  @media (max-width: 800px) {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
