@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; margin: 0; }

body {
    background-color: #000;
    background-image:
        radial-gradient(circle, rgba(17, 0, 255, 0.2) 0.2%, transparent 30%),  /* foco 1 */
        radial-gradient(circle, rgba(0, 174, 255, 0.2) 0.2%, transparent 35%), /* foco 2 */
        radial-gradient(circle, rgba(140, 0, 255, 0.2) 0.2%, transparent 45%); /* foco 3 */

    background-size: 
        80% 60%, 
        55% 55%, 
        50% 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;

    animation: blobsMove 150s ease-in-out infinite alternate;
}

@keyframes blobsMove {
    0% {
        background-position:
            -10% 10%,     
            95% 80%,      
            20% 110%;    
    }

    25% {
        background-position:
            30% 120%,    
            120% 0%,     
            -15% 50%;    
    }

    50% {
        background-position:
            50% 50%, 
            100% 120%,   
            80% -10%;     
    }

    75% {
        background-position:
            -20% 80%,     
            50% -15%,     
            120% 40%;     
    }

    100% {
        background-position:
            110% 30%,     
            -10% 70%,      
            60% 120%;     
    }
}


.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #fff;
  border-radius: 15px;
  overflow: visible;
}

.glass-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 1px;

    background:
    radial-gradient(circle at 80% 20%, rgba(255,255,255,0.9), transparent 40%) border-box,
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.6), transparent 45%) border-box,
    linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.25),
      transparent 70%
    ) border-box;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-more_vert{
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
}

/* Panel del menú Material */
.cdk-overlay-pane .mat-mdc-menu-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #fff;
  border-radius: 10px;
  overflow: visible;
}

.cdk-overlay-pane .mat-mdc-menu-item {
  min-height: 34px !important;
  padding: 4px 14px !important;
  font-size: 14px !important;
}

.cdk-overlay-pane .mat-mdc-menu-item mat-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.cdk-overlay-pane .mat-mdc-dialog-surface {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: #fff !important;
  border-radius: 10px !important;
  overflow: visible !important;
}

.cdk-overlay-pane .mat-mdc-dialog-surface {
  position: relative;
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  color: #fff !important;
}

/* Borde brillante */
.cdk-overlay-pane .mat-mdc-dialog-surface::before {
  background:
    radial-gradient(circle at 80% 20%, rgba(255,255,255,0.9), transparent 40%) border-box,
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.6), transparent 45%) border-box,
    linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.25),
      transparent 70%
    ) border-box;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Cambiar el color del borde cuando el input está enfocado 
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #ffffff !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #ffffff !important; 
}*/

.cdk-overlay-pane .mat-datepicker-content {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15) inset !important;
  overflow: hidden !important;
}

.cdk-overlay-pane .mat-datepicker-content::before {
content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  padding: 1px;

    background:
    radial-gradient(circle at 80% 20%, rgba(255,255,255,0.9), transparent 40%) border-box,
    radial-gradient(circle at 20% 80%, rgba(255,255,255,0.6), transparent 45%) border-box,
    linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.25),
      transparent 70%
    ) border-box;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}